
.flex {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

/* Petit écran */
@media all and (max-width: 500px) {
    .flex {
        /* On n'utilise plus row mais column */
        flex-direction: column;
    }
}

.item {
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
    padding:10px;
  
    flex-grow: 1;
    flex-shrink: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
}
.item-value {
    font-weight: bold;
    font-size: 3em;
}

.hero-avatar {
    max-width: 70px;
}

.hero-header {
    margin:20px;
}