.quizz  {
    margin-top:15px;
    font-size: 1.5em;
    position: relative;
}

.answer {
    border:1px solid #f4f4f4;
    padding:5px;
}

.answer-feedback {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
  display: block;
  top:0;
  left:0;
  z-index: 1;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50%;
}
.good-answer {
  background-image: url('http://matchingtool.basic-check.ch/static/imgs/check-mark.svg');
}

.bad-answer {
  background-image: url('http://matchingtool.basic-check.ch/static/imgs/x-mark.svg');
}

[type="radio"] {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px;
}

[type="radio"] + span {
  display: block;
}

/* the basic, unchecked style */
[type="radio"] + span:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.25em;
  border-radius: 1em;
  border: 0.125em solid #fff;
  box-shadow: 0 0 0 0.15em #000;
  margin-right: 0.75em;
  transition: 0.5s ease all;
}

/* the checked style using the :checked pseudo class */
[type="radio"]:checked + span:before {
  background: green;
  box-shadow: 0 0 0 0.25em #000;
}

/* never forget focus styling */
[type="radio"]:focus + span:after {
  content: '\0020\2190';
  font-size: 1.5em;
  line-height: 1;
  vertical-align: -0.125em;
}